<a href="https://colab.research.google.com/github/HamzaNaeem8920/prediction-model-for-predicting-survival-of-patients-with-heart-failure/blob/main/Predicting_Survival_of_patients_with_heart_failure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

** Importing Data set**

In [ ]:
df= pd.read_csv('/content/drive/MyDrive/datasets/heart_failure_clinical_records_dataset.csv')
df.head(10)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.5,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1

In [ ]:
# Checking number of columns and rows
df.shape

(299, 13)

In [ ]:
df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [ ]:
#Counting the values in target column
df['DEATH_EVENT'].value_counts()

0    203
1     96
Name: DEATH_EVENT, dtype: int64

In [ ]:
#Selecting attributes and target columns
X= df.drop('DEATH_EVENT',axis =1)
Y= df['DEATH_EVENT']

In [ ]:
#Standardizing the data
scalar= StandardScaler()

In [ ]:
scalar.fit(X)

StandardScaler()

In [ ]:
standard_data = scalar.transform(X)

In [ ]:
X= standard_data

Train test split

In [ ]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.2,stratify= Y,random_state= 2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(299, 12) (239, 12) (60, 12)

Training the model

In [ ]:
classifier= svm.SVC(kernel= 'linear')

In [ ]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

Model evaluation

In [ ]:
#accuracy score on training data
Xtrainprediction= classifier.predict(X_train)
training_data_accuracy= accuracy_score(Xtrainprediction,Y_train)

In [ ]:
#printing accuracy score of training data
print(training_data_accuracy)

0.8451882845188284

In [ ]:
#accuracy score on testing data
Xtestprediction= classifier.predict(X_test)
testing_data_accuracy= accuracy_score(Xtestprediction,Y_test)

In [ ]:
#printing accuracy score of testing data
print(testing_data_accuracy)

0.8166666666666667

Making a predictive system

In [ ]:
input_data = (82,1,379,0,50,0,47000,1.3,136,1,0,13)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scalar.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The patient  have survival chances')
else:
  print('The patient does not have survival chances')

[[ 1.78242381  1.14796753 -0.20940127 -0.84757938  1.00857844 -0.73568819
  -2.21586251 -0.09090002 -0.14197615  0.73568819 -0.68768191 -1.51334987]]
[1]
The patient does not have survival chances

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(